

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color:rgb(8, 25, 25);
  }
  
  .items {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px; /* Optional: Adjust maximum width of items */
  }
  
  .items img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 0 0 8px; /* Rounded corners for image container */
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
  
  .details p {
    margin: 5px 0;
  }
  
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
}
  
  .buttons button {
    margin-left: 10px; 
    padding: 8px 12px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    
  }
  
  .buttons button:hover {
    background-color: #f0f0f0c7;
  }
  
.actions button{
    margin-right: 10px; 
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.actions button:hover{
    background-color: #f0f0f0c7;
}

.home{
  position: absolute;
  bottom: 60px; 
  right: 40px; 
  width: 150px;
  height: 40px;
}
  